.nav {
  position: sticky;
  top: 0;

  background: var(--yellow);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
}

.logoImage {
  object-fit: contain;
}

.logoText {
  font-family: var(--font-lexend);
  font-size: 1.25rem;
  font-weight: 600;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  transition: all 0.2s ease-in-out;
  padding: 0.1rem 0.2rem;
}

.link:hover {
  transform: translateY(-2px) scale(1.05) rotate(1deg);
  text-shadow: 0 0 0.5px currentColor, 0 0 0.5px currentColor;
}
