@import "tailwindcss";

:root {
  --green: #ffed70;
  --light-green: #00a651;
  --yellow: #ffed70;
  --grey-text: #4c4c4c;
  --light-grey: #e3e3e3;
  --red: #dc3545;

  --black: #0f0f0f;
  --white: #ffffff;
}

body {
  font-family: var(--font-open-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  color: var(--black);
}

*,
*::before,
*::after {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lexend), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  color: var(--black);
}
